body {
    font-family: "Times New Roman", Times, serif;
    font-style: normal;
    color: #000000;
    background-color: #FFFFFF;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #0033CC
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #0033CC
}

h3 {
    color: #0033CC
; font: 110% Arial, Helvetica, sans-serif
}

b {
    font-weight: bold;
}

.code {
    font-family: Courier, mono;
}

.codeblock {
    font-family: Courier, mono;
}

.navheading {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #0033CC
}

.navitem {
    font-family: "Times New Roman", Times, serif;
    margin-left: 10pt;
    color: #000000
}

.itemdef {
    font-family: "Times New Roman", Times, serif;
    font-size: smaller;
    color: #000000
}

.fineprint {
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    color: #000000
}

/* Classloader table classes */

.cltable {
	background-color : #E0E0E0;
	text-align : center;
}

.clt_loader {
	text-align : center;
	font-weight : bold;
	color : #0033CC;
}

.clt_label {
	text-align : left;
	font-weight : bolder;
}

.clt_data {
	text-align : center;
	vertical-align : top;
	font-size : smaller;
}