
BODY {
scrollbar-face-color: #8F0720;
scrollbar-3dlight-color: #000000;
scrollbar-darkshadow-color:#000000;
scrollbar-arrow-color: #000000;
scrollbar-track-color:#590619;

}

A  {
	color : #9C0000;
	text-decoration : underline;
}

A:Visited  {
	color : #9C0000;
	text-decoration : underline;
}

A:Active  {
	color :#9C0000;
	text-decoration : underline;
}

A:Hover  {
	color : #FFFFFF;
	text-decoration : none;
	background-color:#9C0000;
}
